
#search-form {
    margin-left: 2rem;
}

#current-card {
    margin-top: 1rem;
    margin-right: 2rem;
}

#future-card {
    justify-content: space-between;
    margin: 0;
    margin-right: 2rem;
} 

#future-card ul {
    height: fit-content;
}