/* code */
#current-card {
    background-color: bisque;
    border: solid;
    border-width: 12px;
    border-color: white;
}

#future-card {
    margin: 0;
    /* background-color: beige; */
    border: solid;
    border-width: 6px;
    border-color: white;
}

#future-card span {
    background-color: beige;
    border: solid;
    border-width: 6px;
    border-color: white;
}